/* sweap button */
%action-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #44b773;
  color: $white-color;
  @include border-radius(3px);
  overflow: hidden;
  z-index: 0;
  @include padding(15px, 50px, 15px, 50px);
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $brand-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition(transform 0.4s ease-out);
  }
  &:hover {
    color: $white-color;
    @include transform(translateY(-8px));
    box-shadow: 0 5px 24px 0 rgba($black-color, 0.3);
  }
  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.action-btn-center {
  @extend %action-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 45px, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(2px, 0, 0, 30px);
      @include margin(0, 0, 15px, 0);
      user-select: none;
      color: $light-grey-color;
      font-size: 14px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;

        border: 1px solid $brand-color;
        @include border-radius(3px);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }

}
